.LocSwiper{
    margin-top: 10%;
}

.LocSwiper span.input-group-text {
    background-color: white;
    border-left: 1px solid #ced4da;
    border-top: 1px solid #ced4da;
    border-bottom: 1px solid #ced4da;
    border-right: 1px solid rgba(0,0,0,0.5);
}

.LocSwiper input.form-control {
    border-left: 0;
    transition: all 1s;
}

.form-control:focus {
    box-shadow: inset 0 1px 1px rgba(247, 224, 224, 0.075), 0 0 8px rgba(247, 224, 224, 0.075) !important;
}

datalist {
    display: none !important;
}

.LocSwiper .swiper {
    width: 100%;
    /* padding-top: 50px !important; */
    padding-bottom: 100px !important;
}

.LocSwiper .swiper-slide {
    background-position: center;
    background-size: cover !important;
    width: 300px !important;
    height: 350px !important;
    /* background: white !important; */
}

.swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right {
    background-image: none !important;
}

div.css-qc6sy-singleValue
{
    font-size: medium;
    font-weight: bold;
}


#react-select-3-listbox{
    background: hsl(0, 0%, 100%);
    font-size: medium;
    padding: 5%;
    border-radius: 9px;
}

div.css-4ljt47-MenuList
{   
    transition: all 0.8s;
    font-size: 1.2rem;
}
/* #react-select-3-listbox{

} */

@media (max-width: 768px) {
    .search-bar{
        margin-bottom: 5%;
    }

    #react-select-3-listbox{
        z-index: 3;
    }
}