

#lfooter #lf-top{
    padding: 5%;

    background: url('./deals-dashboard-bg.png');
}

#lfooter #footer-flex{
    margin: 0 !important;
    padding: 10% 7%;
    background: #2C625C;
}

#lfooter .foo-list a{
    color: #94b2b1;
    transition: all 0.5s;
}

#lfooter .foo-list a:hover{
    color: #bec4c4;
}