
section#deals-sec{
    margin: 5em 0;
}

div.deals-col{
    margin: 0 10em;
}

/* .h-100{
    display: flex !;
    display: -webkit-flex;
    flex-wrap: wrap;
} */

p.pros{
    font-size: 0.7rem;
    text-align: center;
}

p.pros.no{
    color: rgb(193, 193, 193);
}

.bg-default *{
    color: black;
    font-weight: bold;
}

@media (max-width: 768px) {
    .col-md{
        margin-bottom: 7%;
    }
}

/* .global-h {
    color: white;
    background: rgb(41,115,0);
    background: linear-gradient(90deg, rgba(41,115,0,1) 0%, rgba(0,212,255,1) 100%);
}

.pro-h{
    color: wheat;
    background: rgb(169,53,184);
    background: linear-gradient(90deg, rgba(169,53,184,0.8298669809720763) 48%, rgba(0,212,255,1) 100%);
} */



.deal-card{
    border: 2px solid #DADADA;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.dc-header{
    padding: 2em 1em 1em;
}

.dc-desc{
    padding: 2em;
}

.dc-desc p{
    padding: 0.5em 0;
}

#dc-card-btn{
    color: black;
    background: #C4E0E5;
    box-shadow: none !important;
    font-family: 'poppins';
    font-weight: bold;
    text-transform: capitalize !important;
    border-radius: 0;
    padding: 5%;
}

#dc-card-btn:hover{
    background-color: #d0e1e4;
}

p.avlb{
    color: black;
}