

#ad-banner{
  background: black;
  padding: 1%;
  font-family: Mackinac;
  font-size: 1rem;
}

.navbar-light .navbar-nav .nav-link {
  color:black !important;
}

.navbar-top {
  padding: 1% 7% !important;
  box-shadow: 0 !important;
  /* background: rgba(220,220,255,1) !important; */
}

.navbar{
  box-shadow: none !important;
}

a.navbar-brand {
  font-size: 1.5rem;
  font-family: MackinacBold;
  font-weight: bolder !important;
}

ul.navbar-nav li a {
  font-size: small;
  font-weight: lighter !important;
}

.offer-banner {
  background: green;
  margin: 0 !important;
  width: 100%;
  padding: 1%;
}

@media (min-width: 992px) {
  .button-group {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}

.nav-reg-btn {
  transition: all 1s !important;
}

/* .nav-reg-btn:hover {
  background-color: #00b74a !important;
  color: white !important;
} */

/* 
@font-face {
  font-family: "MackinacBold";
  src: local("MackinacBold"),
  url("./fonts/P22MackinacPro-ExtraBold_12.otf") format("truetype");
}

@font-face {
  font-family: "Mackinac";
  src: local("Mackinac"),
  url("./fonts/P22MackinacPro-Bold_16.otf") format("truetype");
} */