#inner-login{
  width: 50%;
  padding: 5% 10% 2%;
  margin: 5% 25% 0;
}

@media (max-width: 961px) {
    #inner-login{
        width: 70%;
    margin: 10% 15% 0;
    }}


@media (max-width: 623px) {
  #inner-login{
    width: 80%;
    margin: 10% 10% 0;
  }
}

@media (max-width: 480px) {
  #inner-login{
    width: 90%;
    margin: 5% 5% 0;
  }
}

.login-spinner {
  animation: spin-animation 0.5s infinite;
  display: inline-block;
}

@keyframes spin-animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.connect-nav{
  display: flex;
  justify-content: space-between;
  padding: 2% 6% 0;
}